@charset "UTF-8";
/* CSS Document */
/* General Elements */

.hidden {
  display: none;
}

h2, h3 {
  font-family: futura-pt, sans-serif;
  color: #0F0503;
  font-size: 25px;
  font-weight: 600;
}

p {
  font-family: futura-pt, sans-serif;
  color: #0F0503;
  font-size: 15px;
  font-weight: 400;
}


/* Header */

#head {
  background-color: #7BAFF5;
  padding-left: 80px;
  padding-right: 80px;
}


/* Header Nav */

#headNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainNavi a {
  text-decoration: none;
}

.logoPadding {
  margin-right: 120px;
}

/* Header Social Media */

#headSocial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* img */
#homeImg {
  height: 700px;
  background-color: lightgray;
}

/* contents */ 

#contents {
  height: 2000px;
  background-color: white;
}


/* Main Page */


/* Main page, media query, tablet */

@media screen and (max-width: px) {


}

/* Main page, media query, mobile */

@media screen and (max-width: px) {


}

/* About Page */


/* About page, media query, tablet */

@media screen and (max-width: px) {


}

/* About page, media query, mobile */

@media screen and (max-width: px) {


}

/* Contact Page */


/* Contact page, media query, tablet */

@media screen and (max-width: px) {


}

/* Contact page, media query, mobile */

@media screen and (max-width: px) {


}

/* Portfolio Page */


/* Portfolio page, media query, tablet */

@media screen and (max-width: px) {


}

/* Portfolio page, media query, mobile */

@media screen and (max-width: px) {


}

/* Footer */
#foot {
  background-color: #2C7847;
  padding-left: 80px;
  padding-right: 80px;
}

.footNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footAddress {
  display: flex;
  flex-direction: row;
  margin-left: -800px;
}

#footSocial {
  display: flex;
  flex-direction: row;
}

.socialM {
  margin-right: 5px;
}

